@charset 'UTF-8';

:root {


  --y-axis-page-align: center;
  --x-axis-page-align: center;
  --align-text: center;

  --color-text: limegreen;
  --color-main-1: #222;
  --color-main-2: darkgrey;
  --color-main-3: lime;

  --primary-color: green;
  --secondary-color: limegreen;
  --tertiary-color: lime;
  --background-color: transparent;
  --background-border-color: transparent;
  --border-bg-color: black;

  --background: transparent;

  --border-type: double;
  --border-thickness: 4px;
  --border-radius: 0px;
  --border-color: lime;

  --max-width: 350px;

  --font-size: 150%;
  --font-primary: 'EXEPixelPerfect', monospace;
  --font-secondary: 'pcSenior', monospace;
  --font-header: 'orange_kid', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@font-face {
  font-family: 'pcSenior';
  src:
    local('PC Senior'),
    url('/assets/fonts/pcsenior.ttf') format('truetype');
}

@font-face {
  font-family: 'EXEPixelPerfect';
  src:
    local('EXEPixelPerfect'),
    url('/assets/fonts/EXEPixelPerfect.ttf') format('truetype');
}

.vs {
  background: black;
  display: inline-block;
  margin: var(--margin);
  padding: 5px;
  flex: 1 1;
  border: lime 4px double;
}

.imgBorder {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  margin: 5px;
}

.buttonlist {
  max-width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.buttonlist .text {
  color: lime;
  flex: 1 1;
  height: 35px;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: 20px;
  line-height: 1.4;
  margin: var(--margin);
  background: black;
}
.buttonlist .button {
  color: lime;
  width: 35px;
  height: 35px;
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 5px;
  background: black;
  transform: scale(1);
  transition: transform .2s;
  font-family: sans-serif;
}
.buttonlist .button:hover {
  transform: scale(1.2);
}
.buttonlist .button:active {
  transform: scale(1.1);
}

#pageSelect {
  background: transparent;
  text-align-last: center;
  color: lime;
  border: 0;
  width: 100%;
  padding: 0;
  font-size: 1.5em;
}
#content {
  height: 350px;
  justify-content: center;
}

/* Links */
#vuwnu {
  color: grey;
}
#vuwnu:hover {
  color: white;
}

#twitter {
  color: #089;
}
#twitter:hover {
  color: #ffffff;
}

#rimage {
  width: 100%;
  height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Random Image Effects */
.image-invert {
  filter: invert(100%);
}
.image-grayscale {
  filter: grayscale(100%);
}
.image-hue {
  filter: hue-rotate(240deg);
}
.image-invert {
  filter: saturate(7);
}
.btn {
  color: #4dd97a;
  background: black;
  display: inline-block;
  margin: var(--margin);
  padding: 5px;
  flex: 1 1;
  border: lime 4px double;
}
