@charset 'UTF-8';

/***************
 *  Variables  *
 ***************/
:root {
  /****************
   *  Main Theme  *
   ****************/

  --primary-color: green;
  --secondary-color: limegreen;
  --tertiary-color: lime;
  --background-color: #111;

  /* Border */
  --border-type: double;
  --border-thickness: 4px;
  --border-radius: 0px;
  --border-color: lime;

  /***********
   *  Sizes  *
   ***********/

  --max-width: 900px;
  --margin-width: 900px;

  /***********
   *  Fonts  *
   ***********/

  --primary-font: 'EXEPixelPerfect', monospace;
  --secondary-font: 'pcSenior', monospace;
  --header-font: 'orange_kid', monospace;
  --font-size: var(--responsive-font-size);
  /************
   *  Images  *
   ************/
}

/***************
 *  Font-Face  *
 ***************/
@font-face {
  font-family: 'pcSenior';
  src:
    local('PC Senior'),
    url('/assets/fonts/pcsenior.ttf') format('truetype');
}

@font-face {
  font-family: 'EXEPixelPerfect';
  src:
    local('EXEPixelPerfect'),
    url('/assets/fonts/EXEPixelPerfect.ttf') format('truetype');
}

@font-face {
  font-family: 'kirbyss';
  src:
    local('kirbyss'),
    url('/assets/fonts/kirbyss.ttf') format('truetype');
}

@font-face {
  font-family: 'ROADWAY';
  src:
    local('ROADWAY'),
    url('/assets/fonts/ROADWAY_.ttf') format('truetype');
}

@font-face {
  font-family: 'orange_kid';
  src:
    local('orange_kid'),
    url('/assets/fonts/orange_kid.ttf') format('truetype');
}

/************
 *  Custom  *
 ************/
.logo {
  font-family: orange_kid;
  text-transform: uppercase;
  color: limegreen;
  background: #111;
  margin: 1px 5px;
  padding: 8px 11px 11px 11px;
  border: solid 2px;
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,1);
}

.space {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space .title {
  color: limegreen;
  margin: 0;
}
.space .speech {
  max-width: 500px;
  width: 95%;
}

#vaynwork {
  color: grey;
}
#vaynwork:hover {
  color: white;
}

html {
  background: black;
  font-size: 150%;
}
