<page>
  <header class="row space-between slide-in-bottom">
    <div class="buttonlist">
      <a onclick="loadPage('info.html', '#content')">?</a>
    </div>
    <p onclick="loadPage('randomimage.html', '#content')" class="vstitle">viri.space</p>
    <div class="buttonlist">
      <a onclick="loadPage('lists.html', '#content')">◱</a>
    </div>
  </header>

  <main>
  </main>

  <footer class="slide-in-top">
    <div>follow me on <a id="twitter" href="https://twitter.com/_viri_">twitter</a></div>
    <div>powered by <xyz-logo></xyz-logo>
  </footer>
</page>
