<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body class="xyz">

  <div class="space">
    <div class="card">
      <div class="card-contents">
        <h1>viri</h1>
        <h5>arist // writer // creator</h5>
        <p>I enjoy bringing my ideas to life<br>
        Experimentation and finding new ways to reach my goal</p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>

</html>
